.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs-and-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}
.button-container {
  margin-top: 2em;
}
.navigate-register-button {
  margin-left: 1em;
  cursor: pointer;
}
