<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-page-container">
    <h1>Login</h1>
    <div class="inputs-and-buttons-wrapper">
      <div class="inputs-wrapper">

        <mat-form-field>
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput>
        </mat-form-field>

      </div>
      <div class="button-container">
        <button mat-raised-button type="submit">Login</button>
      </div>
    </div>
  </div>
</form>
